body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-image {
  background-image: url("/assets/minecraft-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.background-color {
  background-color: black;
}

.hidden {
  display: none !important;
}

#game {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 150px;
}

#Logo {
  width: 814px;
  height: 300px;
}

#itemsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
}

#homeAndReloadContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-top: 20px;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.instructions-box {
  position: relative;
  width: 700px;
  padding: 40px;
  background: rgba(220, 220, 220, 0.9);
  border-radius: 12px;
}

.instruction {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.instruction img {
  width: 64px;
  height: 64px;
}

.instruction p {
  font-family: monospace;
  font-weight: bold;
  color: #1f1f1f;
  letter-spacing: 1px;
}

.close-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid black;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}
