body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.hidden {
  display: none !important;
}

#game {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 150px;
}

#Logo {
  width: 814px;
  height: 300px;
}

#itemsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
}

#homeAndReloadContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-top: 20px;
}
