.button {
  background: none;
  border: none;
  cursor: pointer;
}

.item {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background-color: white;
}

.small-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border-radius: 20px;
}
