#gameWorld {
  background-color: purple;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(28, 58px);
  grid-template-rows: repeat(14, 58px);
}

.tiles {
  width: 58px;
  height: 58px;
}
.tile:hover {
  outline: 2px solid rgba(255, 255, 255, 0.7);
  outline-offset: -2px;
  cursor: pointer;
}
.grass {
  background-image: url("/assets/grass.jpg");
}
.dirt {
  background-image: url("/assets/dirt-with-grass.webp");
}
.stone {
  background-image: url("/assets/stone.jpeg");
}
.sand {
  background-image: url("/assets/sand.webp");
}
.wood {
  background-image: url("/assets/wood.webp");
}
.cloud {
  background-color: #ffffff;
}
.diamond {
  background-image: url("/assets/diamond.webp");
}
.iron {
  background-image: url("/assets/iron.webp");
}
.gold {
  background-image: url("/assets/gold.webp");
}
.coal {
  background-image: url("/assets/coal.webp");
}
.sky {
  background-color: #87ceeb;
}
.redstone {
  background-image: url("/assets/redstone.webp");
}
.emerald {
  background-image: url("/assets/emerald.webp");
}
