* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#primary_header {
}
.header_list {
  background-color: #ef6204;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  color: white;
  height: 60px;
  width: 100%;
}
.nav_list {
  background-color: #f39a46;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  height: 40px;
  width: 100%;
  justify-content: left;
  align-items: center;
  gap: 20px;
}
